@model ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count == 0)
{
<div class="shopcart-container--empty">
    <div class="shopcart-wrapper--empty">
        <img class="icon" src="/images/shopping-bag-outlined.svg" alt="Alternate Text" />
        <h3 class="header">Your cart is empty.</h3>
        <p class="description">Looks like you haven't added anything to your cart yet</p>
        <a asp-controller="Perfume" asp-action="List" class="bt bt--main bt--animated bt-smaller">Shop now</a>
    </div>
</div>
}
else
{
    <div class="shopcart-container">
        <div class="shopcart-wrapper">
            <table class="shopcart-table">
                <thead>
                    <tr>
                        <th class="picture"></th>
                        <th class="name">Product Name</th>
                        <th class="brand">Brand</th>
                        <th class="quantity">Quantity</th>
                        <th class="price">Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                    {
                        <tr>
                            <td class="picture">
                                <div class="picture-bg">
                                    <img src="@item.Perfume.ImageUrl" alt="Perfume" />
                                </div>
                            </td>
                            <td class="name">@item.Perfume.Name</td>
                            <td class="brand">@item.Perfume.Brand</td>
                            <td class="quantity">
                                <div class="quantity-wrapper">
                                    <div class="minus"><a asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-perfumeId="@item.Perfume.Id">&ndash;</a></div>
                                    <div class="number">@item.Amount</div>
                                    <div class="plus"><a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-perfumeId="@item.Perfume.Id">+</a></div>
                                </div>
                            </td>
                            <td class="price">$@item.Perfume.Price</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="shopcart-summary">
                <div class="shipping-info"><span>* Free shipping.</span> All orders take 1-2 business days to process prior to shipping.</div>
                <div class="total">Total: &nbsp;<span>$@Model.Total.ToString("0.######")</span></div>
                <div><a asp-controller="Order" asp-action="Checkout" class="bt bt--main bt--animated bt--small">Checkout</a></div>
            </div>
        </div>
    </div>
}