@model Perfume

<div class="details-container">

    @* Picture *@
    <div class="details-picture">
        <img src="@Model.ImageUrl" alt="Perfume image" />
    </div>

    @* Details *@
    <div class="details-content">
        <div class="header">@Model.Name <span>@Model.Brand</span></div>

        @* Render different tag color depending on Model information *@
        <div class="details-tags">

            @await Component.InvokeAsync("CategoryTag")

            @if (Model.InStock == true)
            {
                <span class="tag--3">In Stock</span>
            }
            else
            {
                <span class="tag--3">Out of Stock</span>
            }

        </div>
        <div>@Model.Category</div>

        <div class="price">$@Model.Price</div>

        <div class="capacity">@Model.Capacity ml</div>

        <div class="description">@Model.Description</div>

        <div class="keynotes">@Model.KeyNotes</div>

        <a class="bt bt--main" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-perfumeId="@Model.Id">Add to cart</a>
    </div>
</div>











    <h2>Details</h2>

    <div>
        <h3>@Model.Name</h3>
        <p>@Model.Price $</p>
        <p>@Model.Capacity ml</p>
        <p>@Model.Description</p>

        <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-perfumeId="@Model.Id" class="btn btn-light">Add To Cart</a>
    </div>