@model DetailsViewModel

<div class="details-container">

    @* Picture *@
    <div class="details-picture">
        <img src="@Model.Perfume.ImageUrl" alt="Perfume image" />
    </div>

    @* Details *@
    <div class="details-content">
        <div class="details-content-wrapper">
            <h3 class="header">@Model.Perfume.Name &nbsp;<span>[ @Model.Perfume.Brand ]</span></h3>

            @* Render different tag color depending on Model information *@
            <div class="info-group">
                <div class="general-info">
                    <p class="price">$@Model.Perfume.Price</p>
                    <p class="capacity">@Model.Perfume.Capacity ml</p>
                </div>
                <div class="details-tags">

                    @if (Model.CategoryId == 1)
                    {
                        <span class="tag tag--1">For Her</span>
                    }
                    else
                    {
                        <span class="tag tag--2">For Him</span>
                    }

                    <span class="tag tag--3">@Model.InStock</span>
                </div>
            </div>

            <p class="description">@Model.Perfume.Description</p>

            <p class="keynotes"><span>Key Notes: &nbsp;</span>@Model.Perfume.KeyNotes</p>

            <a class=" bt bt--main bt--animated bt--details" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-perfumeId="@Model.Perfume.Id">Add to cart</a>
        </div>
    </div>
</div>