@model DetailsViewModel

<div class="details-container">

    @* Picture *@
    <div class="details-picture">
        <img src="@Model.Perfume.ImageUrl" alt="Perfume image" />
    </div>

    @* Details *@
    <div class="details-content">
        <div class="header">@Model.Perfume.Name<span>@Model.Perfume.Brand</span></div>

        @* Render different tag color depending on Model information *@
        <div class="details-tags">
            
            @if (Model.CategoryId == 1)
            {
                <span class="tag tag--1">For Her</span>
            }
            else
            {
                <span class="tag tag--2">For Him</span>
            }

            <span class="tag tag--3">@Model.InStock</span>
        </div>

        <div class="price">$@Model.Perfume.Price</div>

        <div class="capacity">@Model.Perfume.Capacity ml</div>

        <div class="description">@Model.Perfume.Description</div>

        <div class="keynotes">@Model.Perfume.KeyNotes</div>

        <a class="bt bt--main" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-perfumeId="@Model.Perfume.Id">Add to cart</a>
    </div>
</div>