@model PerfumesListViewModel

<h1>@Model.CurrentCategory</h1>
@foreach (var perfume in Model.Perfumes)
{
    <div>
        <h2>@perfume.Name</h2>
        <p>by @perfume.Brand</p>
        <p>@perfume.Capacity ml</p>
        <p>@perfume.Price.ToString()$</p>
        <p>@perfume.Category.CategoryName</p>
    </div>
}