@model PerfumesListViewModel

<h1>@Model.CurrentCategory</h1>
@foreach (var perfume in Model.Perfumes)
{
    <div>
        <h2><a asp-controller="Perfume" asp-action="Details" asp-route-id="@perfume.Id">@perfume.Name</a></h2>
        <p>by @perfume.Brand</p>
        <p>@perfume.Capacity ml</p>
        <p>@perfume.Price.ToString()$</p>
        <p>@perfume.Category.CategoryName</p>
    </div>
}