@model PerfumesListViewModel

@* Banner *@
<div class="bannerlist">
    <div class="bannerlist-content">
        <h3>Get 20% off</h3>
        <div class="bannerlist-divider"></div>
        <p>first purchase</p>
    </div>
</div>

@*Grid container*@
<div id="list-container">
    <div class="list-sortdata">
        @* 1. Categories *@
        <div class="list-sortdata-group">@await Component.InvokeAsync("CategoryMenu")</div>
        <div class="divider-horizontal"></div>

        @* 2. Filter by *@
        <div class="list-sortdata-group">
            <h3 class="filter-header">Filter by</h3>
            <ul class="filter-list">
                <li class="filter-item">@Html.ActionLink("Product Name", "List", new { sortOrder = ViewBag.NameSortParam })</li>
                <li class="filter-item">@Html.ActionLink("Price", "List", new { sortOrder = ViewBag.PriceSortParam })</li>
                <li class="filter-item">@Html.ActionLink("Brand", "List", new { sortOrder = ViewBag.BrandSortParam })</li>
                <li class="filter-item">@Html.ActionLink("Capacity (ml)", "List", new { sortOrder = ViewBag.CapacitySortParam })</li>
            </ul>
        </div>
        <div class="divider-horizontal"></div>

        @* 3. Popular tags *@
        <div class="list-sortdata-group">
            <h3 class="populartags-header">Popular tags</h3>
            <span class="tag-light">Gucci</span>
            <span class="tag-light">Dior</span>
            <span class="tag-light">Pour Homme</span>
            <span class="tag-light">Chanel</span>
            <span class="tag-light">J'adore</span>
            <span class="tag-light">Versace</span>
        </div>
    </div>

    @* Search box *@
    <div class="list-search">
        <div class="list-search-box">
            <form method="get">
                <div class="search-form-group">
                    <div class="search-group">
                        <input asp-for="SearchString" class="search-control" placeholder="Type text here">
                        <button class="search-bt" type="submit" value="Filter">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

        </div>

        @* Cards *@
        <div class="list-cards">
            @foreach (var perfume in Model.Perfumes)
            {
                <a class="list-card-link" asp-controller="Perfume" asp-action="Details" asp-route-id="@perfume.Id">
                    <div class="list-card">
                        <div class="list-card-bg">
                            <div class="list-card-picture"></div>
                        </div>
                        <div class="list-card-details">
                            <h3 class="name">@perfume.Name</h3>
                            <p class="brand">@perfume.Brand</p>
                            <p class="price">$@perfume.Price</p>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>